//
//  Release.xcconfig
//  PodOuvir
//
//  Created by Adriano Souza Costa on 15/04/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_URL = https:/$()/raw.githubusercontent.com/didisouzacosta/PodOuvir/main/PodOuvir/Resources/Podcasts.json
SUBSCRIPTION_GROUP_ID = 21485751
